[AdaptiveTransparency]
enabled=true

[ContrastEffect]
contrast=1.2
enabled=true
intensity=0.50
saturation=1.5

[Desktop Entry]
Comment=KDE Indigo Theme - A beautiful indigo/violet theme for Plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=KDE Indigo Round

[KDE]
PluginInfo-Author=CachyOS Team (Modified)
PluginInfo-Category=Plasma Theme
PluginInfo-Email=admin@cachyos.org
PluginInfo-License=GPLv3
PluginInfo-Name=KDE-Indigo-round
PluginInfo-Version=1.0
PluginInfo-Website=https://cachyos.org
